.card-container{
    border-radius: 10px;
    width: fit-content;
    border: 2px solid #bbbdbf;  
    padding: 1rem 1rem;
    margin: 1.5rem;
    background-color: #d7dbe0;
    cursor: move;
    width: fit-content;
}

.opacity{
    opacity: 1;
}

.opacity-none{
    opacity: 0;
}

.title{
    font-weight: bold;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
}

.card-img{
    cursor: pointer;
    width: 280px;
}

.loader-container{
    display: flex;
    justify-content: center;
}

.show-loader{
    display: flex;
    justify-content: center;
}

.hide-loader{
    display: none;
}